html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #fff;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: black;
  /* height: 100%; */
}

p {
  margin: 0 0 10px;
}

/* ======== CONTAINER  ======== */

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/* ======== HEADER ======== */
.navbar-brand {
  font-family: "Playfair Display", serif;
}
.navbar {
  color: white;
  border-bottom: 1px white solid;
}

.navbar-collapse {
  flex-grow: 0;
}
.disabled {
  pointer-events: none;
  text-decoration: none;
}
/* ======== BREADCRUMB ======== */
.breadcrumb {
  padding-top: 10px;
  font-family: "Times New Roman", Times, serif;
}
.previous-page {
  text-decoration: none;
  color: #fff;
}
/* ======== REGISTER ======== */
.register {
  padding: 30px;
  padding-bottom: 150px;
  font-family: "Times New Roman", Times, serif;
}

.input-selector {
  padding-bottom: 10px;
}
.country-selector {
  size: 100px;
}
/* ======== FOOTER ======== */

.footer {
  border-top: 1px solid white;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-text {
  font-size: 12px;
}
