html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #fff;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: black;
}

h2,
h5,
a,
p {
  margin: 0 0 10px;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  padding-bottom: 20px;
  padding-top: 20px;
}
a {
  text-decoration: none;
}
p {
  font-family: "Montserrat", sans-serif;
}
/* ======== CONTAINER  ======== */

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/* ======== HEADER ======== */
.navbar-brand {
  font-family: "Playfair Display", serif;
}
.navbar {
  color: white;
  border-bottom: 1px white solid;
}

.navbar-collapse {
  flex-grow: 0;
}
.disabled {
  pointer-events: none;
  opacity: 0.6;
}
/* ======== BREADCRUMB ======== */
.breadcrumb {
  padding-top: 10px;
  font-family: "Times New Roman", Times, serif;
}
.previous-page {
  text-decoration: none;
  color: #fff;
}

/* ======== ABOUT US ======== */
.nav-item-tab1,
.nav-item-tab2,
.nav-item-tab3,
.nav-item-tab4 {
  border-top: 2px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-radius: 10px 10px 0px 0px;
}
.nav-item-tab1 {
  border-left: 2px solid;
}
.nav-item-tab4 {
  border-right: 2px solid;
}

.box {
  border: 1px solid;
  padding: 20px;
}

/* ======== MAP ======== */

.map {
  padding-bottom: 50px;
}
/* ======== FOOTER ======== */

.footer {
  border-top: 1px solid white;
  position: relative;
}

.footer-text {
  font-size: 12px;
  margin-inline-start: 10px;
  max-width: 50%;
  position: absolute;
}
